body {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  margin: 20px auto;
  font-weight: 100;
}

.input {
  width: 80%;
  font-size: 1.75rem;
  height: 50px;
  font-weight: 100;
  padding: 10px;
  margin: 0 20px;
  border-radius: 3px;
}

.add-item {
  height: 50px;
}